<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Dental Booking Chatbot</title>
  <link rel="stylesheet" href="/static/style.css">

</head>
<body>
  <h1><b>Book your Dentist Now 😊</b></h1>
<!-- partial:index.partial.html -->
<div id='bodybox'>
  <div id='chatborder'>
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me" onfocus="placeHolder()">
  </div>
  <br>
  <br>
  <center><img src="/src/chatbot.jpg" align="middle" width = 50%></center>
  <script  src="/static/script.js"></script>
  <script src='/static/jquery.min.js'></script>
</body>
</html>